html {
  height: 100vh;
  background: lightslategray;
}

  .title-header {
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}

.users-container {
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.user-input-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  justify-content: center;
}

#update-info {
  display: none;
  width: 280px;
  margin: auto;
  justify-content: space-between;
}

#submit-profile {
  display: block;
  margin: 6px auto 0px auto;
  font-size: 16px;
  width: 290px;
  background-color: rgba(	236, 240, 241, .5);
  border-radius: 4px;
  outline: none;
}

.submit-profile:hover {
  cursor: pointer;
}

.submit-profile:focus {
  outline: 0;
}

.form-textbox {
  margin: 8px;
  padding: 3px;
  line-height: 24px;
}

.address {
  width: 280px;
}


.user-container {
  min-width: 180px;
  border: 2px solid grey;
  border-radius: 3px;
  height: 140px;
  margin: 10px;
  -webkit-box-shadow: 3px 3px 17px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 17px -2px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 17px -2px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(128, 121, 121, .7);
  position: relative;
}

.user-container:hover {
  cursor: pointer;
  transform: translateY(-5px) translateZ(100px);
}

.update-overlay {
  min-width: 180px;
  max-width: 180px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  background-color: black;
  opacity: 0;
  color: white;
  line-height: 5;
  text-align: center;
  font-size: 18px;
}

.update-overlay:hover {
  opacity: 0.8;
  z-index: 10;
}

#update-form {
  display: none;
}

#cancel-update {
  display: none;
}

.profile-data {
    margin: 3px 0px 3px 15px;
    font-size: 16px;
}
.profile-data:first-child {
    margin-top: 15px;
}

@media (max-width: 317px) {
  .address {
    width: 125px;
  }

  #submit-profile {
    width: 128px;
  }

  #update-info {
    width: 128px;
  }
}
